{% extends 'admin/base.html' %}

{% block content %}
<section id="form">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form action="/admin/about/" method="POST">
          <div class="form-group mt-2">
            {{form.a_subject(class_='form-control',placeholder='Metin daxil edin.')}}
          </div>
          <div class="form-group mt-2">
            {{form.a_age(class_='form-control',placeholder='Yaşınızı daxil edin.')}}
          </div>
          <div class="form-group mt-2">
            {{form.a_freelance(class_='form-control')}}
          </div>
          <div class="form-group mt-2">
            {{form.a_phone(class_='form-control',placeholder='Telefon nomrenizi daxil edin.')}}
          </div>
          <div class="form-group mt-2">
            {{form.a_residence(class_='form-control',placeholder='Yasayis yerinizi daxil edin.')}}
          </div>
          <div class="form-group mt-2">
            {{form.a_address(class_='form-control',placeholder='Unvaninizi daxil edin.')}}
          </div>
          <div class="form-group mt-2">
            {{form.a_e_mail(class_='form-control',placeholder='Emailinizi daxil edin.')}}
          </div>
          <div class="form-group mt-2">
            {{form.submit(class_='btn btn-success',value='Gonder')}}
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<section id="table">
    <div class="container mt-5">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Haqqında Məlumat</th>
                <th scope="col">Yaşınız</th>
                <th scope="col">Sərbəst</th>
                <th scope="col">Əlaqə Nömrəsi</th>
                <th scope="col">Yaşayış yeriniz</th>
                <th scope="col">Ünvanınız</th>
                <th scope="col">Email Adresiniz</th>
                <th scope="col">Əməliyyat</th>
              </tr>
            </thead>
            <tbody>
              {% for about in abouts %}
              <tr>
                <td>{{about.id}}</td>
                <td>{{about.a_subject}}</td>
                <td>{{about.a_age}}</td>
                <td>{{about.a_freelance}}</td>
                <td>{{about.a_phone}}</td>
                <td>{{about.a_residence}}</td>
                <td>{{about.a_address}}</td>
                <td>{{about.a_e_mail}}</td>
                <td>
                    <a href="/delete/{{about.id}}"><i class="bi bi-trash mx-1"></i></a>
                    <a href="/update/{{about.id}}"><i class="bi bi-pencil mx-1"></i></a>
                    <a href=""><i class="bi bi-envelope-open mx-1"></i></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
</section>
<script>
  CKEDITOR.replace('a_subject');
</script>
{% endblock  %}