{% extends 'admin/base.html' %}

{% block content %}
<section id="designskills-form">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="/admin/designskills/" method="POST">
                    <div class="form-group mt-3">
                        {{form.ds_name(class_='form-control',placeholder='Ad daxil edin.')}}
                    </div>
                    <div class="form-group mt-3">
                        {{form.ds_subject(class_='form-control',placeholder='Məlumat daxil edin.')}}
                    </div>
                    <div class="form-group mt-3">
                        {{form.ds_percent(class_='form-control',placeholder='Faiz daxil edin.')}}
                    </div>
                    <div class="form-group mt-3">
                        {{form.ds_number(class_='form-control',placeholder='Eded daxil edin.')}}
                    </div>
                    <div class="form-group mt-3">
                        {{form.ds_submit(class_='btn btn-success',value='Gonder')}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section id="designskills-table">
    <div class="container mt-5">
        <table class="table" style="color: white;">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Dizayn Bacarıq Adı</th>
                <th scope="col">Dizayn Bacarıq Məlumatı</th>
                <th scope="col">Dizayn Bacarıq Faizi</th>
                <th scope="col">Dizayn Bacarıq ədədi</th>
                <th scope="col">Əməliyyat</th>
              </tr>
            </thead>
            <tbody>
              {% for designskill in designskills %}
              <tr>
                <td>{{designskill.id}}</td>
                <td>{{designskill.ds_name}}</td>
                <td>{{designskill.ds_subject}}</td>
                <td>{{designskill.ds_percent}}</td>
                <td>{{designskill.ds_number}}</td>
                <td>
                    <a href="/designskills/delete/{{designskill.id}}"><i class="bi bi-trash mx-1"></i></a>
                    <a href="/designskills/update/{{designskill.id}}"><i class="bi bi-pencil mx-1"></i></a>
                    <a href=""><i class="bi bi-envelope-open mx-1"></i></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
</section>
<script>
  CKEDITOR.replace('ds_subject');
</script>
{% endblock  %}