{% extends 'admin/base.html' %}

{% block content %}
<section id="designskills-form">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="/designskills/update/{{designskill.id}}" method="POST">
                    <div class="form-group mt-3">
                        {{form.ds_name(class_='form-control',placeholder='Ad daxil edin.',value=designskill.ds_name)}}
                    </div>
                    <div class="form-group mt-3">
                        {{form.ds_subject(class_='form-control',placeholder='Məlumat daxil edin.',value=designskill.ds_subject)}}
                    </div>
                    <div class="form-group mt-3">
                        {{form.ds_percent(class_='form-control',placeholder='Faiz daxil edin.',value=designskill.ds_percent)}}
                    </div>
                    <div class="form-group mt-3">
                        {{form.ds_number(class_='form-control',placeholder='Eded daxil edin.',value=designskill.ds_number)}}
                    </div>
                    <div class="form-group mt-3">
                        {{form.ds_submit(class_='btn btn-success',value='Gonder')}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
  CKEDITOR.replace('ds_subject');
</script>
{% endblock  %}