{% extends 'admin/base.html' %}

{% block content %}
<section id="education-form">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="/admin/education/" method="POST">
                <div class="form-group mt-3">
                    {{form.ed_date(class_='form-control',placeholder='Tarix daxil edin.')}}
                </div>
                <div class="form-group mt-3">
                    {{form.ed_name(class_='form-control',placeholder='Name daxil edin.')}}
                </div>
                <div class="form-group mt-3">
                    {{form.ed_subject(class_='form-control',placeholder='Məlumat daxil edin.')}}
                </div>
                <div class="form-group mt-3">
                    {{form.ed_submit(class_='btn btn-success',value='Gonder')}}
                </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section id="education-table">
    <div class="container mt-5">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Təhsil Tarixi</th>
                <th scope="col">Təhsil Aldığı Məktəb</th>
                <th scope="col">Təhsil Haqda Məlumat</th>
                <th scope="col">Əməliyyat</th>
              </tr>
            </thead>
            <tbody>
              {% for education in educations %}
              <tr>
                <td>{{education.id}}</td>
                <td>{{education.ed_date}}</td>
                <td>{{education.ed_name}}</td>
                <td>{{education.ed_subject}}</td>
                <td>
                    <a href="/education/delete/{{education.id}}"><i class="bi bi-trash mx-1"></i></a>
                    <a href="/education/update/{{education.id}}"><i class="bi bi-pencil mx-1"></i></a>
                    <a href=""><i class="bi bi-envelope-open mx-1"></i></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
</section>
<script>
  CKEDITOR.replace('ed_subject');
</script>
{% endblock  %}