{% extends 'admin/base.html' %}

{% block content %}
<section id="portfolio-category-form">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="/admin/portfolio/category/" method="POST">
                    <div class="form-group mt-3">
                        {{form.cat_name(class='form-control',placeholder='Kategoriya əlavə edin.')}}
                    </div>
                    <div class="form-group mt-3">
                        {{form.cat_submit(class='btn btn-success',value='Göndər')}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section id="portfolio-category-table">
    <div class="container mt-5">
        <table class="table table-sm" style="color: white;">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Kategoriya</th>
                    <th scope="col">Əməliyyat</th>
                  </tr>
            </thead>
            <tbody>
                {% for portfoliocategory in portfoliocategories %}
                <tr>
                    <td>{{portfoliocategory.id}}</td>
                    <td>{{portfoliocategory.cat_name}}</td>
                    <td>
                        <a href="/portfolio/category/delete/{{portfoliocategory.id}}"><i class="bi bi-trash mx-1"></i></a>
                        <a href="/portfolio/category/update/{{portfoliocategory.id}}"><i class="bi bi-pencil mx-1"></i></a>
                        <a href=""><i class="bi bi-envelope-open mx-1"></i></a>
                    </td>
                  </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
</section>
{% endblock  %}