{% extends 'admin/base.html' %}

{% block content %}
<section id="pricing-form">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="/admin/pricing/" method="POST">
                    <div class="form-group mt-2">
                        {{form.p_icon(class_='form-control',placeholder='İkon daxil edin.')}}
                    </div>
                    <div class="form-group mt-2">
                        {{form.p_name(class_='form-control',placeholder='Ad daxil edin.')}}
                    </div>
                    <div class="form-group mt-2">
                        {{form.p_number(class_='form-control',placeholder='Ədəd daxil edin.')}}
                    </div>
                    <div class="form-group mt-2">
                        {{form.submit(class_='btn btn-success',value='Göndər')}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section id="pricing-table">
    <div class="container mt-5">
        <table class="table" style="color: white;">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Qiymətləndirmə İkonu</th>
                <th scope="col">Qiymətləndirmə Adı</th>
                <th scope="col">Qiymətləndirmə Ədədi</th>
                <th scope="col">Əməliyyat</th>
              </tr>
            </thead>
            <tbody>
              {% for pricing in pricings %}
              <tr>
                <td>{{pricing.id}}</td>
                <td>{{pricing.p_icon}}</td>
                <td>{{pricing.p_name}}</td>
                <td>{{pricing.p_number}}</td>
                <td>
                    <a href="/pricing/delete/{{pricing.id}}"><i class="bi bi-trash mx-1"></i></a>
                    <a href="/pricing/update/{{pricing.id}}"><i class="bi bi-pencil mx-1"></i></a>
                    <a href=""><i class="bi bi-envelope-open mx-1"></i></a>
                </td>
              </tr>  
              {% endfor %}
            </tbody>
          </table>
    </div>
</section>
{% endblock  %}

