{% extends 'admin/base.html' %}

{% block content %}
<section id="services_form">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="/services/update/{{services.id}}" method="POST">
                    <div class="form-group mt-2">
                        {{form.s_icon(class_='form-control',placeholder='Icon elave edin.',value=services.s_icon)}}
                    </div>
                    <div class="form-group mt-2">
                        {{form.s_name(class_='form-control',placeholder='Services adini daxil edin.',value=services.s_name)}}
                    </div>
                    <div class="form-group mt-2">
                        {{form.s_subject(class_='form-control',placeholder='Metin daxil edin.',value=services.s_subject)}}
                    </div>
                    <div class="form-group mt-2">
                        {{form.submit(class_='btn btn-success',value='Update')}} 
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock  %}