{% extends 'admin/base.html' %}

{% block content %}
<section id="services_form">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="/admin/services/" method="POST">
                    <div class="form-group mt-2">
                        {{form.s_icon(class_='form-control',placeholder='İkon əlave edin.')}}
                    </div>
                    <div class="form-group mt-2">
                        {{form.s_name(class_='form-control',placeholder='Xidmət adini daxil edin.')}}
                    </div>
                    <div class="form-group mt-2">
                        {{form.s_subject(class_='form-control',placeholder='Məlumat daxil edin.')}}
                    </div>
                    <div class="form-group mt-2">
                        {{form.submit(class_='btn btn-success',value='Göndər')}} 
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section id="service_table">
    <div class="container mt-5">
        <table class="table" style="color: white;">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">İkon</th>
                <th scope="col">Xidmət Adı</th>
                <th scope="col">Xidmət Məlumatı</th>
                <th scope="col">Əməliyyat</th>
              </tr>
            </thead>
            <tbody>
              {% for services in S_Services %}
              <tr>
                <td>{{services.id}}</td>
                <td>{{services.s_icon}}</td>
                <td>{{services.s_name}}</td>
                <td>{{services.s_subject}}</td>
                <td>
                    <a href="/services/delete/{{services.id}}"><i class="bi bi-trash mx-1"></i></a>
                    <a href="/services/update/{{services.id}}"><i class="bi bi-pencil mx-1"></i></a>
                    <a href=""><i class="bi bi-envelope-open mx-1"></i></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
</section>
<script>
  CKEDITOR.replace('s_subject');
</script>
{% endblock  %}